.intro
  .site-container
    .intro__inner
      img.intro__logo(src='assets/images/logo-tatneft.svg' alt='Логотип Татнефть')
      h1.intro__title Ключевые правила безопасности
      .intro__text
        .intro__text-one #[span Призываем] Вас к #[span ответственному]
        .intro__text-two отношению к #[span безопасности]
        .intro__text-three и своему #[span здоровью!]
      button.intro__button изучить ключевые правила безопасности
      .intro__box
        img.intro__box-sound(src='assets/images/Simplification.svg' alt='Звук')
        button.intro__box-close ЗАКРЫТЬ
  .intro__slider.swiper
    .swiper-wrapper
      .intro__slider-item.swiper-slide
        img.intro__slider-item-img(src='assets/images/image.jpg' alt='#')
      .intro__slider-item.swiper-slide
        img.intro__slider-item-img(src='assets/images/image-2.jpg' alt='#')
      .intro__slider-item.swiper-slide
        img.intro__slider-item-img(src='assets/images/image.jpg' alt='#')
