-
  rulesItems = [
    {imgUrl: 'assets/images/rules/1.png', text: 'Ключевые правила безопасности'},
    {imgUrl: 'assets/images/rules/2.png', text: 'Сокрытие информации о ЧП'},
    {imgUrl: 'assets/images/rules/3.png', text: 'Работы повышенной опасности без наряда-допуска'},
    {imgUrl: 'assets/images/rules/4.png', text: 'Нарушение целостности блокировок, противоаварийной автоматической защиты'},
    {imgUrl: 'assets/images/rules/5.png', text: 'Употребление алкогольных, наркотических и токсических веществ'},
    {imgUrl: 'assets/images/rules/6.png', text: 'Курение и открытый огонь'},
    {imgUrl: 'assets/images/rules/7.png', text: 'Ремень безопасности на транспорте'},
    {imgUrl: 'assets/images/rules/8.png', text: 'Нахождение и перемещение в запрещённых зонах'},
    {imgUrl: 'assets/images/rules/9.png', text: 'Отсутствие СИЗ'},
  ]

.rules
  .site-container
    .rules__inner
      .rules__title КЛЮЧЕВЫЕ ПРАВИЛА БЕЗОПАСНОСТИ «ТАТНЕФТЬ»
      button.rules__return.button-reset.modal__close-btn
        +icon-mono('modal-close')(class='rules__return-icon')
        //- +icon-mono('arrow-right')(class='rules__return-icon')
        //- .rules__return-text назад
    ul.rules__items
      each item in rulesItems
        li.rules__item
          img.rules__item-img(src=item.imgUrl alt='#')
          h3.rules__item-title=item.text
          .rules__item-buttons
            button.rules__item-button(data-path="modal-video")
              .rules__item-button-text Видео
              +icon-mono('arrow-left-2')(class='rules__item-button-icon')
            button.rules__item-button(data-path="modal-images")
              .rules__item-button-text плакат
              +icon-mono('arrow-left-2')(class='rules__item-button-icon')
