.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #1e1e1e, $alpha: 60%);
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-time), visibility var(--transition-time);

  &.is-open {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-time), visibility var(--transition-time);
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    display: block;
    height: 0;
    opacity: 0;

    &.modal-open {
      height: 100%;
      opacity: 1;
      // transition: opacity 2.9s;

      .modal__slider {
        opacity: 1;
        transition: opacity 2.4s ease-in;
      }
    }
  }

  &__content {
    position: relative;
    padding: 3.4rem 4rem;
  }

  &__close-btn {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(98, 176, 198, 0.65);
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background var(--transition);
    flex-shrink: 0;

    &:hover {
      background-color: rgba(98, 176, 198, 0.86);
    }

    &:active {
      background-color: #4b9bb2;
    }

    &[disabled=''] {
      background-color: #c9cdd2;
    }

    svg {
      width: 2.9rem;
      height: 2.9rem;
      stroke: #fff;
      stroke-width: 3px;
    }
  }

  &__legend {

  }

  &__slider {
    max-width: 153rem;
    width: 100%;
    overflow: visible;
    opacity: 0;

    &-item {
      width: 90rem;
      height: 100%;

      &-box {
        display: flex;
        justify-content: space-between;
        gap: 4.8rem;
        margin-bottom: 1.6rem;
      }

      &-img {
        position: relative;
        padding-top: 29.6%;
        border: 1px solid #fff;
        border-radius: 2.4rem;
        overflow: hidden;

        &-elem {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-video {
        position: relative;
        width: 80rem !important;
        height: 80%;
        object-fit: cover;
        border: 1px solid #fff;
        border-radius: 2.4rem;
        overflow: hidden;
        padding-top: 29.6%;

        iframe {
          position: absolute !important;
          width: 100% !important;
          height: 100% !important;
          top: 0 !important;
          left: 0 !important;
        }

        video {
          position: absolute !important;
          width: 100% !important;
          height: 100% !important;
          top: 0 !important;
          left: 0 !important;
        }

        &-elem {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        &-play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 9rem;
          height: 9rem;
          justify-content: center;
          align-items: center;
          display: flex;
          border-radius: 50%;
          background-color: #62B0C6;
          cursor: pointer;
          transition: background var(--transition);

          &.hidden {
            display: none;
          }

          svg {
            fill: #fff;
            width: 3.6rem;
            height: 4.2rem;
            margin-left: 0.8rem;
          }

          &:hover {
            background-color: rgba(98, 176, 198, 0.86);
          }

          &:active {
            background-color: #4b9bb2;
          }

        }
      }

      &-title {
        font-weight: 500;
        font-size: 3rem;
        color: #fff;
      }

      &-btn-download {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        margin-left: auto;

        &-icon {
          width: 3rem;
          height: 3rem;
        }

        &-text {
          font-size: 2rem;
          text-transform: uppercase;
        }
      }

      &.swiper-slide-prev {
        .modal__slider-item-video {
          margin-left: auto;
        }
      }

      &.swiper-slide-active {
        width: 100%;
        .modal__slider-item-img {
          width: 100%;
          padding-top: 56.25%;
        }
        .modal__slider-item-video {
          width: 100% !important;
          padding-top: 56.25%;
        }
      }
    }

    .swiper-wrapper {
      margin-bottom: 1.6rem;
      align-items: center;
    }

    .swiper-nav {
      display: flex;
      justify-content: center;
      gap: 3.2rem;

      &__btn {
        padding: 0.2rem;

        &-prev {
          svg {
            transform: rotate(180deg);
          }
        }

        &:hover {
          svg {
            fill: rgba(98, 176, 198, 0.86);
          }
        }

        &:active {
          svg {
            fill: #4b9bb2;
          }
        }

        &[disabled=''] {
          svg {
            fill: #c9cdd2;
          }
        }

        svg {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          fill: rgba(98, 176, 198, 0.65);
          stroke: #fff;
        }
      }
    }
  }
}
