.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #1e1e1e, $alpha: 60%);
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-time), visibility var(--transition-time);

  &.is-open {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-time), visibility var(--transition-time);
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: var(--color-bg);

    &.modal-open {
      display: block;
    }
  }

  &__content {
    position: relative;
    padding: 3.4rem 4rem;
  }

  &__close-btn {
    position: absolute;
    z-index: 3;
    top: 2rem;
    right: 32rem;
    cursor: pointer;

    &:hover {
      svg {
        fill: rgba(98, 176, 198, 0.86);
      }
    }

    &:active,
    &:focus {
      svg {
        fill: #4b9bb2;
      }
    }

    &[disabled=''] {
      svg {
        fill: #c9cdd2;
      }
    }

    svg {
      width: 4.8rem;
      height: 4.8rem;
      fill: rgba(98, 176, 198, 0.65);
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }

  &__slider {
    width: 160rem;
    overflow: visible;

    &-item {
      width: 90rem;
      height: 100%;

      &-img {
        object-fit: cover;
        height: 86%;
        border: 1px solid #fff;
        border-radius: 2.4rem;
      }

      &-title {
        font-weight: 500;
        font-size: 3rem;
        color: #fff;
        margin-bottom: 2.2rem;
      }

      &.swiper-slide-prev {
        display: flex;
        justify-content: flex-end;
      }

      &.swiper-slide-active {
        width: 100%;
        .modal__slider-item-img {
          width: 100%;
        }
      }
    }

    .swiper-wrapper {
      margin-bottom: 1.6rem;
      align-items: center;
    }

    .swiper-nav {
      display: flex;
      justify-content: center;
      gap: 3.2rem;

      &__btn {

        &-prev {
          svg {
            transform: rotate(180deg);
          }
        }

        &:hover {
          svg {
            fill: rgba(98, 176, 198, 0.86);
          }
        }

        &:active,
        &:focus {
          svg {
            fill: #4b9bb2;
          }
        }

        &[disabled=''] {
          svg {
            fill: #c9cdd2;
          }
        }

        svg {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          fill: rgba(98, 176, 198, 0.65);
          border: 0.1 solid #fff;
          stroke: #fff;
        }
      }
    }
  }
}
