.intro {
  position: relative;
  padding: 5.3rem 0 6.6rem;
  background-color: var(--color-bg);

  &__inner {
    position: relative;
    z-index: 1;
    max-width: 84rem;
  }

  &__logo {
    width: 32.3rem;
    height: 8.8rem;
    margin-bottom: 12.3rem;
  }

  &__title {
    font-weight: 700;
    font-size: 5.6rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    font-weight: 500;
    font-size: 32px;
    color: #fff;
    margin-bottom: 16.3rem;
    user-select: none;

    & > * {
      font-size: 3.2rem;
    }

    span {
      background: #fff;
      font-size: 3.2rem;
      text-transform: uppercase;
      color: #4b9bb2;
      padding: 0.2rem 0.8rem;
      margin: 0.5rem;
    }
  }

  &__button {
    border-radius: 10rem;
    padding: 3.2rem 2.4rem;
    background: #fff;
    font-weight: 500;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #4b9bb2;
    margin-bottom: 7.2rem;
    transition: box-shadow var(--transition), color var(--transition), background var(--transition);

    &:hover {
      box-shadow: 0 0 5px 0 #fff;
      color: #62b0c6;
    }

    &:active {
      background: #d2e7ed;
      color: #4b9bb2;
      box-shadow: none;
    }

    &[disabled=''] {
      background: #c9cdd2;
      color: #fff;
      box-shadow: none;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 10.6rem;

    &-sound {

      &-img {
        width: 3rem;
        height: 3rem;
        cursor: pointer;

        &-2 {
          display: none;
        }
      }

      &--dull {
        .intro__box-sound-img-1 {
          display: none;
        }

        .intro__box-sound-img-2 {
          display: block;
        }
      }
    }

    &-close {
      font-size: 2rem;
      text-transform: lowercase;
    }
  }

  &__slider {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 100rem;
    height: 110%;
    display: flex;
    justify-content: flex-end;

    &-item {
      height: 100%;
      width: 90rem;
      display: flex;
      justify-content: flex-end;
      opacity: 0.1 !important;

      &.swiper-slide-next {
        opacity: 0.1 !important;
      }

      &.swiper-slide-active {
        opacity: 1 !important;
      }

      &-img {
        mask-image: url('../images/Polygon.svg');
        mask-repeat: no-repeat;
        mask-size: auto 180%;
        mask-position: left 40%;
        object-fit: cover;
      }
    }
  }
}
