.modal__container(data-target="modal")
  .modal__content
    button.button-reset.modal__close-btn.modal-close(type="button")
      span
      span
    .modal__legend
      .modal__slider.swiper
        .swiper-wrapper
          .swiper-slide text 1
          .swiper-slide text 2
          .swiper-slide text 3
        .swiper-nav
          .swiper-nav__btn.swiper-nav__btn-prev На лево
          .swiper-nav__btn.swiper-nav__btn-next На право
