.modal__container(data-target="modal")
  .modal__content
    button.button-reset.modal__close-btn.modal-close(type="button")
      +icon-mono('modal-close')
    .modal__legend
      .modal__slider.swiper
        .swiper-wrapper
          .modal__slider-item.swiper-slide
            .modal__slider-item-title Ключевые правила безопасности
            img.modal__slider-item-img(src='assets/images/rules_img.jpg' alt='')
          .modal__slider-item.swiper-slide
            .modal__slider-item-title Ключевые правила безопасности
            img.modal__slider-item-img(src='assets/images/rules_img.jpg' alt='')
          .modal__slider-item.swiper-slide
            .modal__slider-item-title Ключевые правила безопасности
            img.modal__slider-item-img(src='assets/images/rules_img.jpg' alt='')
        .swiper-nav
          button.swiper-nav__btn.swiper-nav__btn-prev
            +icon-mono('slider-arrow-left')
          button.swiper-nav__btn.swiper-nav__btn-next
            +icon-mono('slider-arrow-left')
